## Converting Data Types

In [7]:
num_int = 7

type(num_int)

int

In [8]:
num_str = '7'
type(num_str)

str

In [9]:
num_str_cov = int(num_str)

type(num_str_cov)

int

In [10]:
num_sum = num_int + num_str_cov
print(num_sum)

14

In [11]:
list_type= [2,3,4,5,6]
type(list_type)

list

In [13]:
list_to_tuple = type(tuple(list_type))

In [14]:
list_to_tuple

tuple

In [16]:
list_type = [2,3,4,5,6,10,12,32,12,1,2,3,4,5,5]
set(list_type) # sets doesnt contains duplicates elemenst it only contains unique values into a set

{1, 2, 3, 4, 5, 6, 10, 12, 32}

In [17]:
## Dictionary

dict_type = {'Name': 'Vrindha', 'Age': 23, 'Stream': 'Economics'}
type(dict_type)

dict

In [18]:
dict_type.values()

dict_values(['Vrindha', 23, 'Economics'])

In [19]:
dict_type.items()

dict_items([('Name', 'Vrindha'), ('Age', 23), ('Stream', 'Economics')])

In [20]:
dict_type.keys()

dict_keys(['Name', 'Age', 'Stream'])

In [21]:
key_list = list(dict_type.keys())

In [22]:
key_list

['Name', 'Age', 'Stream']

In [23]:
list(dict_type.items())

[('Name', 'Vrindha'), ('Age', 23), ('Stream', 'Economics')]

In [24]:
type(list(dict_type.items()))

list

In [25]:
# we also can convert longer strings they're not just numbers

long_str = 'I love to play with python coding'

In [26]:
list(long_str)

['I',
 ' ',
 'l',
 'o',
 'v',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'p',
 'l',
 'a',
 'y',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'c',
 'o',
 'd',
 'i',
 'n',
 'g']

In [27]:
long_strr = 'I love to play'
set(long_strr)

{' ', 'I', 'a', 'e', 'l', 'o', 'p', 't', 'v', 'y'}